<div class="header-w3layouts">
			<!-- Navigation -->
			<nav class="navbar navbar-default navbar-fixed-top">
				<div class="container">
					<div class="navbar-header page-scroll">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
							<span class="sr-only">Events</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<h1><a class="navbar-brand" href="header_admin.html">Evento</a></h1>
					</div>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse navbar-ex1-collapse">
						<ul class="nav navbar-nav navbar-right">
							<!-- Hidden li included to remove active class from about link when scrolled up past about section -->
							<li class="hidden"><a class="page-scroll" href="#page-top"></a>	</li>
							<li><a class="hvr-sweep-to-right" href="header_admin">Home</a></li>
{#							<li><a class="hvr-sweep-to-right" href="about">About</a></li>#}

                            <li class="dropdown">
									<a href="#" class="dropdown-toggle hvr-sweep-to-right" data-hover="Pages" data-toggle="dropdown">Users <b class="caret"></b></a>
									<ul class="dropdown-menu">
										<li><a class="hvr-sweep-to-right" href="get_landowner">Land Owners</a></li>
										<li><a class="hvr-sweep-to-right" href="get_caterer">Caterers</a></li>
                                        <li><a class="hvr-sweep-to-right" href="blocked_user">Blocked Users</a></li>
									</ul>
							  </li>

							<li class="dropdown">
									<a href="#" class="dropdown-toggle hvr-sweep-to-right" data-hover="Pages" data-toggle="dropdown">Vanues <b class="caret"></b></a>
									<ul class="dropdown-menu">
										<li><a class="hvr-sweep-to-right" href="admin_booked_vanues">Booked</a></li>
										<li><a class="hvr-sweep-to-right" href="get_events">Requests</a></li>
                                        <li><a class="hvr-sweep-to-right" href="admin_vanue_history">History</a></li>
                                        <li><a class="hvr-sweep-to-right" href="admin_vanue_payment">Payments</a></li>
									</ul>
							  </li>
							<li class="dropdown">
									<a href="#" class="dropdown-toggle hvr-sweep-to-right" data-hover="Pages" data-toggle="dropdown">Catering <b class="caret"></b></a>
									<ul class="dropdown-menu">
										<li><a class="hvr-sweep-to-right" href="admin_booked_cater">Booked</a></li>
                                        <li><a class="hvr-sweep-to-right" href="admin_cater_history">History</a></li>
                                        <li><a class="hvr-sweep-to-right" href="admin_catering_payment">Payments</a></li>
									</ul>
							  </li>
                            <li><a class="hvr-sweep-to-right" href="logout">Logout</a></li>
						</ul>
					</div>
					<!-- /.navbar-collapse -->
				</div>
				<!-- /.container -->
			</nav>
		</div>